div.list-screen {
    font-size: x-large;
    height: 92vh;
    width: 98vw;
    padding-top: 8vh;
    overflow-x: hidden;
    overflow-y: unset;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;

}