div.app {
  background-color: #052025;
  color: #ffffff
}

div.app > div.app__app-header{ 
  background-color:#790606;
  height: 5.5vh;
  width: 96.4vw;
  text-align: right;
  padding: 0.5em 1.5em 0.5em 0.5em; 
  position: absolute;
}
